<!DOCTYPE html>
<html>
<head>
    <title>Print Order</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div class="box">
    <h2>Online Print Order</h2>

    <form method="POST">
        <label>File Name</label>
        <input type="text" name="filename" required>

        <label>Print Type</label>
        <select name="print_type">
            <option>Black & White</option>
            <option>Color</option>
        </select>

        <label>Quantity</label>
        <input type="number" name="quantity" required>

        <button type="submit">Submit Order</button>
    </form>

    <p><a href="/login">Admin Login</a></p>
</div>
</body>
</html>
